Today we will build a class that allows us to better organize our SQL queries and visualization code. 

To begin let's review some SQL.

In [ ]:
import sqlite3
import pandas as pd
import os
import matplotlib.pyplot as plt

# For testing code
from test_scripts.test_class import Test
test = Test()

In [ ]:
#__SOLUTION__
import sqlite3
import pandas as pd
import os
import matplotlib.pyplot as plt

# For testing code
from test_scripts.test_class import Test
test = Test()

In [ ]:
path = os.path.join('data', 'chinook.db')
conn = sqlite3.connect(path)
cursor = conn.cursor()

In [ ]:
#__SOLUTION__
path = os.path.join('data', 'chinook.db')
conn = sqlite3.connect(path)
cursor = conn.cursor()

![schema](images/schema.png)

### TASK 1

In the cell below, write code that generates a list containing the names of all tables in the chinook database.

In [ ]:
# Your code here

In [ ]:
#__SOLUTION__
tables = cursor.execute('''SELECT name FROM sqlite_master
                                        WHERE
                                        type = 'table'
                                        AND
                                        name NOT LIKE 'sqlite_%';''').fetchall()

tables = [table[0] for table in tables]
tables

In [ ]:
test.run_test(tables, 'tables')

In [ ]:
#__SOLUTION__
test.run_test(tables, 'tables')

### TASK 2

In the cell below, write code that will generate a dataframe of yearly revenue. The dataframe should be sorted by year.

In [ ]:
# Your code here

In [ ]:
#__SOLUTION__
q = f"""select strftime('%Y', invoicedate) as "year", SUM(unitprice * quantity) as amount
       FROM invoices
       INNER JOIN invoice_items
       USING(invoiceid)
       GROUP BY year
       ORDER BY year;"""

pd.read_sql(q, conn)

In [ ]:
test.run_test(pd.read_sql(q, conn), 'yearly_revenue')

In [ ]:
#__SOLUTION__
test.run_test(pd.read_sql(q, conn), 'yearly_revenue')

### TASK 3

In the cell below, write code to generate a dataframe that counts the numbers of artists that are found within each genre. Sort the dataframe in ascending order.

In [ ]:
# Your code here

In [ ]:
#__SOLUTION__
q = """select count(distinct al.artistid) as "count",
      g.name as "name"
       FROM albums al
       INNER JOIN tracks
       USING(albumid)
       INNER JOIN genres g
       USING(genreid)
       GROUP BY g.name
       ORDER BY "count";
      """
pd.read_sql(q, conn).sort_values('count')

In [ ]:
test.run_test(pd.read_sql(q, conn).sort_values('count'), 'artists_per_genre')

In [ ]:
#__SOLUTION__
test.run_test(pd.read_sql(q, conn).sort_values('count'), 'artists_per_genre')

# OOP

Let's begin by building a quick `Example` class, and break down some of the elements.

In [ ]:
class Example:
    attribute = "I'm an attribute!"
    
    def method(self):
        return "I'm a method!"

In [ ]:
#__SOLUTION__
class Example:
    attribute = "I'm an attribute!"
    
    def method(self):
        return "I'm a method!"

In [ ]:
Example.attribute

In [ ]:
#__SOLUTION__
Example.attribute

In [ ]:
Example.method()

In [ ]:
#__SOLUTION__
Example.method()

In [ ]:
Example.method(Example)

In [ ]:
#__SOLUTION__
Example.method(Example)

### Adding an `__init__` method

> [A good thread on the init method](https://stackoverflow.com/questions/625083/what-init-and-self-do-in-python)

The init method activates when we create an *instance* of the class.

In [ ]:
class Example:
    attribute = "I'm an attribute!"
    
    # Adding an init method
    def __init__(self): 
        self.instance_attribute = "I'm an instance attribute!"
        # You'll notice that self is used to create this attribute. 
        # Whenever we create an instance attribute, we
        # have to use self.
    
    def method(self):
        return "I'm a method!"

In [ ]:
#__SOLUTION__
class Example:
    attribute = "I'm an attribute!"
    
    # Adding an init method
    def __init__(self): 
        self.instance_attribute = "I'm an instance attribute!"
        # You'll notice that self is used to create this attribute. 
        # Whenever we create an instance attribute, we
        # have to use self.
    
    def method(self):
        return "I'm a method!"

**Creating an instance**

In [ ]:
instance = Example()

In [ ]:
#__SOLUTION__
instance = Example()

In [ ]:
instance.instance_attribute

In [ ]:
#__SOLUTION__
instance.instance_attribute

**The init method is especially helpful when we need to pass object to our class**

In [ ]:
class Example:
    attribute = "I'm an attribute!"
    
    # We have updated the __init__ method
    # so it also receives a number
    def __init__(self, number):
        self.instance_attribute = "I'm an instance attribute!"
        # We then create an attribute that
        # adds three to the received number
        self.add_three = number + 3
    
    def method(self):
        return "I'm a method!"

In [ ]:
#__SOLUTION__
class Example:
    attribute = "I'm an attribute!"
    
    # We have updated the __init__ method
    # so it also receives a number
    def __init__(self, number):
        self.instance_attribute = "I'm an instance attribute!"
        # We then create an attribute that
        # adds three to the received number
        self.add_three = number + 3
    
    def method(self):
        return "I'm a method!"

**Now if try to create an instance of the class like we did before...**

In [ ]:
instance = Example()

In [ ]:
#__SOLUTION__
instance = Example()

**...we receive an error message because the init method did not receive a required argument.**

To provide arguments to the init method, we pass the argument into the parentheses used to call the class.

In [ ]:
instance = Example(3)

In [ ]:
#__SOLUTION__
instance = Example(3)

In [ ]:
instance.add_three

In [ ]:
#__SOLUTION__
instance.add_three

**Using an attribute inside a method**

It is common when writing code to have global variables that must be passed into a function, or used inside a function. 

This can be a bit annoying since the main reason we create functions is so we do not have to keep typing the same things over and over again. 

Classes can be used to solve this problem!

In [ ]:
class Greeting:
    
    def __init__(self, greeting=None):
        if not greeting:
            greeting = "It's nice to meet you!"
        self.greeting = greeting
        
    def message(self, name):
        return f"Hi, {name}!" + ' ' + self.greeting

In [ ]:
#__SOLUTION__
class Greeting:
    
    def __init__(self, greeting=None):
        if not greeting:
            greeting = "It's nice to meet you!"
        self.greeting = greeting
        
    def message(self, name):
        return f"Hi, {name}!" + ' ' + self.greeting

In [ ]:
greeting, name = ("Can you please do the dishes?", 'Joel')

whats_up = Greeting(greeting)

whats_up.message(name)

In [ ]:
#__SOLUTION__
greeting, name = ("Can you please do the dishes?", 'Joel')

whats_up = Greeting(greeting)

whats_up.message(name)

# Code Assignment

Let's take the sql queries we wrote above and create a `Queries` class. 

This class should have attributes for the connection to the database, and individual methods for each query. 

The output for each query method should look exactly like the outputs for our sql queries aboves.

In [ ]:
class Queries:
    def __init__(self, database_path):
        pass
    
#=================== QUERIES ====================
 
    def table_names(self):
        pass
        
    
    def artists_per_genre(self):
        pass
        
    def yearly_revenue(self):
        pass

In [ ]:
#__SOLUTION__
class Queries:
    def __init__(self, database_path):
        self.conn = sqlite3.connect(database_path)
        self.cursor = self.conn.cursor()

#=============== HELPER FUNCTIONS ===============

    def query(self, q):
        return pd.read_sql(q, self.conn)
    
#=================== QUERIES ====================
 
    def table_names(self):
        q = '''SELECT name FROM sqlite_master
                WHERE
                type = 'table'
                AND
                name NOT LIKE 'sqlite_%';'''
        tables = self.cursor.execute(q).fetchall()
        return  [x[0] for x in tables]
        
    
    def artists_per_genre(self):
        q = """select count(distinct al.artistid) as "count",
              g.name as "name"
               FROM albums al
               INNER JOIN tracks
               USING(albumid)
               INNER JOIN genres g
               USING(genreid)
               GROUP BY g.name
              """
        return self.query(q)
        
    def yearly_revenue(self):
        q = f"""select strftime('%Y', invoicedate) as "year", SUM(unitprice * quantity) as amount
               FROM invoices
               INNER JOIN invoice_items
               USING(invoiceid)
               GROUP BY year
               ORDER BY year;"""

        return self.query(q)

**Let's test our work**

In [ ]:
queries = Queries(path)
test.run_test(queries.table_names(), 'class_table_names')
test.run_test(queries.artists_per_genre(), 'class_artists')
test.run_test(queries.yearly_revenue(), 'class_revenue')

In [ ]:
#__SOLUTION__
queries = Queries(path)
test.run_test(queries.table_names(), 'class_table_names')
test.run_test(queries.artists_per_genre(), 'class_artists')
test.run_test(queries.yearly_revenue(), 'class_revenue')

### Inheritance 

Classes can inherit code from other classes! This can be a bit confusing at first, but this is where the magic of OOP programming really kicks in.

In [ ]:
class Arrays:
    def __init__(self):
        self.x = [1,2,3]
        self.y = [3,2,1]
       
# This is where the inheritance takes place
class Visualize(Arrays):
    def line(self):
        plt.plot(self.x, self.y)

In [ ]:
#__SOLUTION__
class Arrays:
    def __init__(self):
        self.x = [1,2,3]
        self.y = [3,2,1]
       
# This is where the inheritance takes place
class Visualize(Arrays):
    def line(self):
        plt.plot(self.x, self.y)

In [ ]:
viz = Visualize()
viz.line()

In [ ]:
#__SOLUTION__
viz = Visualize()
viz.line()

We can also make classes that serve as a subclass

In [ ]:
class User:
    def __init__(self, username, secret_key):
        User.key = secret_key
        User.name = username
        self.sub = Authorize()
    
class Authorize:
    def __init__(self):
        self.key = User.key
        self.user = User.name
        
    def check_password(self):
        if self.user == 'Joel' and self.key == 'secret_key':
            print('Password correct!')
        else:
            print('Incorrect Password')

In [ ]:
#__SOLUTION__
class User:
    def __init__(self, username, secret_key):
        User.key = secret_key
        User.name = username
        self.sub = Authorize()
    
class Authorize:
    def __init__(self):
        self.key = User.key
        self.user = User.name
        
    def check_password(self):
        if self.user == 'Joel' and self.key == 'secret_key':
            print('Password correct!')
        else:
            print('Incorrect Password')

In [ ]:
user = User('Joel', 'secret_key')
user.sub.check_password()

In [ ]:
#__SOLUTION__
user = User('Joel', 'secret_key')
user.sub.check_password()

### Calling the parent class init

In [ ]:
class One:
    def __init__(self, arg):
        self.arg = arg
        
class Two(One):
    def __init__(self, other_arg):
        self.other_arg = other_arg

In [ ]:
#__SOLUTION__
class One:
    def __init__(self, arg):
        self.arg = arg
        
class Two(One):
    def __init__(self, other_arg):
        self.other_arg = other_arg

In [ ]:
two = Two('other_arg')

print(two.other_arg)
print(two.arg)

In [ ]:
#__SOLUTION__
two = Two('other_arg')

print(two.other_arg)
print(two.arg)

In [ ]:
class One:
    def __init__(self, arg):
        self.arg = arg
        
class Two(One):
    def __init__(self, arg, other_arg):
        One.__init__(self, arg)
        self.other_arg = other_arg

In [ ]:
#__SOLUTION__
class One:
    def __init__(self, arg):
        self.arg = arg
        
class Two(One):
    def __init__(self, arg, other_arg):
        One.__init__(self, arg)
        self.other_arg = other_arg

In [ ]:
two = Two('arg', 'other_arg')

print(two.other_arg)
print(two.arg)

In [ ]:
#__SOLUTION__
two = Two('arg', 'other_arg')

print(two.other_arg)
print(two.arg)

### Code Assignment

Let's create three classes

1. Chinook
    - This class should create attributes for the connection to the chinook database
2. Queries
    - This class should look a lot like out Queries class above, but it should receive the connection objects from the Chinook class. 
3. Visualize
    - This class should inherit the sql query methods from the queries class and then visualize the artists per genre as a bar char and the yearly revenue as a line plot.

In [ ]:
#__SOLUTION__

class Chinook:
    pass
    

class Queries:
    pass


class Visualization:
    pass

In [ ]:
#__SOLUTION__
# SOLUTION 1

class Chinook:
    def __init__(self, database_path):
        self.conn = sqlite3.connect(database_path)
        self.cursor = self.conn.cursor()
    

class Queries(Chinook):
    def __init__(self, database_path):
        Chinook.__init__(self, database_path)

#=============== HELPER FUNCTIONS ===============

    def query(self, q):
        return pd.read_sql(q, self.conn)
    
#=================== QUERIES ====================
 
    def _table_names(self):
        q = '''SELECT name FROM sqlite_master
                WHERE
                type = 'table'
                AND
                name NOT LIKE 'sqlite_%';'''
        tables = self.cursor.execute(q).fetchall()
        return  [x[0] for x in tables]
        
    
    def _artists_per_genre(self):
        q = """select count(distinct al.artistid) as "count",
              g.name as "name"
               FROM albums al
               INNER JOIN tracks
               USING(albumid)
               INNER JOIN genres g
               USING(genreid)
               GROUP BY g.name
              """
        return self.query(q)
        
    def _yearly_revenue(self):
        q = f"""select strftime('%Y', invoicedate) as "year", SUM(unitprice * quantity) as amount
               FROM invoices
               INNER JOIN invoice_items
               USING(invoiceid)
               GROUP BY year
               ORDER BY year;"""

        return self.query(q)


class Visualization(Queries):
    def __init__(self, connection_path):
        Queries.__init__(self, connection_path) 
    
    def artists_per_genre(self):
        data = self._artists_per_genre()
        data.set_index('name').sort_values('count').plot(kind='bar')
              
    def yearly_revenue(self):
        data = self._yearly_revenue()
        data.set_index('year', inplace=True)
        data.plot(legend=False)

In [ ]:
#__SOLUTION__
# SOLUTION 2
class Chinook:
    def __init__(self, database_path):
        Chinook.conn = sqlite3.connect(database_path)
        Chinook.cursor = self.conn.cursor()
        self.queries = Queries()
    

class Queries:
    def __init__(self):
        self._conn = Chinook.conn
        self._cursor = Chinook.cursor

#=============== HELPER FUNCTIONS ===============

    def query(self, q):
        return pd.read_sql(q, self._conn)
    
#=================== QUERIES ====================
        
    
    def artists_per_genre(self):
        q = """select count(distinct al.artistid) as "count",
              g.name as "name"
               FROM albums al
               INNER JOIN tracks
               USING(albumid)
               INNER JOIN genres g
               USING(genreid)
               GROUP BY g.name
              """
        return self.query(q)
        
    def yearly_revenue(self):
        q = f"""select strftime('%Y', invoicedate) as "year", SUM(unitprice * quantity) as amount
               FROM invoices
               INNER JOIN invoice_items
               USING(invoiceid)
               GROUP BY year
               ORDER BY year;"""

        return self.query(q)


class Visualization(Chinook):
    def __init__(self, connection_path):
        Chinook.__init__(self, connection_path) 
    
    def artists_per_genre(self):
        data = self.queries.artists_per_genre()
        data.set_index('name').sort_values('count').plot(kind='bar')
              
    def yearly_revenue(self):
        data = self.queries.yearly_revenue()
        data.set_index('year', inplace=True)
        data.plot(legend=False)

In [ ]:
visualize = Visualization(path)

In [ ]:
visualize.artists_per_genre()

## Magic Methods

[Magic Methods](https://www.tutorialsteacher.com/python/magic-methods-in-python) begin and end with double underscores. `__init__` is an example of magic method. Let's take a look as a couple more.

In [ ]:
class Magic:
    def __init__(self, database_path):
        self.conn = sqlite3.connect(database_path)
        self.cursor = self.conn.cursor()
        self.table_names = self.table_names()
        self.tables = {}
     
        for table in self.table_names:
            entire_table = pd.read_sql('''SELECT * FROM {}'''.format(table), self.conn)
            self.tables[table] = entire_table

            
#============ Magic Methods ============

    def __getitem__(self, key):
        return self.tables[key]
    
    def __repr__(self):
        return 'This class makes a connection to the Chinook Database!'
    
    def __mul__(self, other):
        return 'Instead of multiplication, we received a string!'
    
#============ Query to get table names ============
    
    def table_names(self):
        q = '''SELECT name FROM sqlite_master
                WHERE
                type = 'table'
                AND
                name NOT LIKE 'sqlite_%';'''
        tables = self.cursor.execute(q).fetchall()
        return  [x[0] for x in tables]

In [ ]:
#__SOLUTION__
class Magic:
    def __init__(self, database_path):
        self.conn = sqlite3.connect(database_path)
        self.cursor = self.conn.cursor()
        self.table_names = self.table_names()
        self.tables = {}
     
        for table in self.table_names:
            entire_table = pd.read_sql('''SELECT * FROM {}'''.format(table), self.conn)
            self.tables[table] = entire_table

            
#============ Magic Methods ============

    def __getitem__(self, key):
        return self.tables[key]
    
    def __repr__(self):
        return 'This class makes a connection to the Chinook Database!'
    
    def __mul__(self, other):
        return 'Instead of multiplication, we received a string!'
    
#============ Query to get table names ============
    
    def table_names(self):
        q = '''SELECT name FROM sqlite_master
                WHERE
                type = 'table'
                AND
                name NOT LIKE 'sqlite_%';'''
        tables = self.cursor.execute(q).fetchall()
        return  [x[0] for x in tables]

In [ ]:
magic = Magic(path)

In [ ]:
#__SOLUTION__
magic = Magic(path)

In [ ]:
magic['artists']

In [ ]:
#__SOLUTION__
magic['artists']

In [ ]:
magic

In [ ]:
#__SOLUTION__
magic

In [ ]:
magic * 3

In [ ]:
#__SOLUTION__
magic * 3